.box{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#search {
  border-width: 3px;
  border-color:#000000;
  border-style: solid;
}

#leaderboard {
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  flex-direction: row;
  gap: 25%;
}