@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto',sans-serif;
  outline: none;
  border: none;
}

/* Header Section */
.title {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}

.title div:nth-child(1) {
  justify-self: flex-start;
  margin: 10px 0 0 10px;
}

.back-button {
  font-size: xx-large;
}

.title div:nth-child(2) {
  justify-self: flex-start;
  align-self: flex-end;
  padding-bottom: 20px;
}

.title div:nth-child(3) {
  display: grid;
  grid-template-areas: "profile"
                       "menu";
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}
/*  */

.title {
    display: grid;
}

input{
    padding: 0.7rem .1rem;
    /* border: 1px #ced4da */
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: ghostwhite

}

input:hover{
    border: 2px solid;
}

input, label{
    display:block;
    
}

#profile{
    margin: auto;
    padding: 30px;
    background-color: #8dc1ac;
    border-radius: 50px;
    height: 100%;
}

fieldset{
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-width: none;
}

html{
    background-color: #449372;
}

#edit_btn{
    background-color: ghostwhite;
    border-radius: .5rem;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 5%;
    border: 0px;
    margin-right: 5px;
    
}

#edit_btn:hover{
    background-color: #449372;
}

#save_btn{
    background-color: ghostwhite;
    border-radius: .5rem;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 5%;
    border: 0px;
}

#save_btn:hover{
    background-color: #449372;
}
#buttons{
    justify-content:flex-end;
    display: flex;
    margin-top: 15px;
}

#profile_pic{
    width: 200px;
    height: 200px;
}

/* Navbar */
.navbar-placeholder {
    height: 100%;
    /* background-color: #8dc1ac;; */
  }
  
  .navbar {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #8dc1ac;
    height: 100%;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
  }
  
  .navbar-item:hover {
    background-color: #449372;
  }
  
  .navbar-item {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    /* padding: ; */
  }

  main {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15% 77% 8%;
    align-items: center;
    text-align: center;
  }

  body{
      margin:0
  }

  .fa-solid{
    margin-top: 10px;
  }

  