@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto',sans-serif;
  outline: none;
  border: none;
}

body{
  min-height:100vh;
  background:linear-gradient(-50deg,#2c6d52,#8dc1ac);
  font-size: 100%;
}

/* Quiz Page */
/* Outer Container */
.quiz_container {
    background-color: rgb(221, 221, 221);
    border-radius: 40px 40px 0 0;
    height: 100%;
    display: flex;
    justify-content: center;
}
/* Inner Container */
.quiz_start_container {
    background-color: #d7eee4;
    width: 90%;
    height: 75%;
    margin: auto;
    border-radius: 40px;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #449372;
}

.quiz_start_button {
    background-color: #449372 ;
    color: white;
    width: 60%;
    height: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px rgb(117, 117, 117);
}

.quiz_start_button:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 0px rgb(117, 117, 117);
}

/* Quiz Score Slide */
.quiz_score_info {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 34% 33% 33%;
    grid-template-areas: "prev title title next"
                         "prev high_score prev_score next"
                         "prev high_score_points prev_score_points next";
    width: 90%;
    margin: auto;
    position: relative;
}

.quiz_score_info h4 {
    grid-area: title;
}

.quiz_score_info p:nth-child(2) {
    border-style: solid;
    border-width: 0 1px 1px 0;
    grid-area: high_score;

}

.quiz_score_info p:nth-child(3) {
    border-style: solid;
    border-width: 0 0 1px 0;
    grid-area: prev_score;
}

.quiz_score_info p:nth-child(4) {
    border-style: solid;
    border-width: 0 1px 0 0;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.quiz_score_info p:nth-child(5) {
    grid-area: prev_score_points;
}

/*  */
/* Slideshow controls */
i.fa-angle-left, i.fa-angle-right {
    font-size: 1.5em;
}

a.prev:hover, a.next:hover {
    background-color: #747474;
}

a.prev, a.next {
    align-self: center;
}

a.prev {
    grid-area: prev;
}

a.next {
    grid-area: next;
}
/*  */
/* Animation for Slideshow */
@keyframes slide_in_right {
    0% {left: 0%;}
    10% {left: 0.4%;}
    20% {left: 0.8%;}
    30% {left: 1.2%;}
    40% {left: 1.6%;}
    50% {left: 2.0%;}
    60% {left: 2.4%;}
    70% {left: 2.8%;}
    80% {left: 3.2%;}
    90% {left: 3.6%;}
    100% {left: 4.0%;}
}

.slide_right {
    animation-name: slide_in_right;
    animation-duration: 0.5s;
}

@keyframes slide_in_left {
    0% {right: 0%;}
    10% {right: 0.4%;}
    20% {right: 0.8%;}
    30% {right: 1.2%;}
    40% {right: 1.6%;}
    50% {right: 2.0%;}
    60% {right: 2.4%;}
    70% {right: 2.8%;}
    80% {right: 3.2%;}
    90% {right: 3.6%;}
    100% {right: 4.0%;}
}

.slide_left {
    animation-name: slide_in_left;
    animation-duration: 0.5s;
}
/*  */

/* Play Quiz Screen */
.play_quiz_container {
    background-color: #8dc1ac;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #449372;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

/* Container for the question */
.play_quiz_question {
    background-color: #d7eee4;
    width: 95%;
    height: 80%;
    justify-self: center;
    border-radius: 20px;
    padding: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_quiz_question, .play_quiz_answer_container > div {
    align-self: center;
}

/* Container for displayed choices */
.play_quiz_answer_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #449372;
}

/* Each of the choice containers*/
.play_quiz_answer_container > div {
    width: 90%;
    height: 90%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7eee4;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #449372;
}

/* Media Queries */
@media screen and (max-width: 400px) {
    .play_quiz_answer_container {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    .play_quiz_question {
        width: 90%;
    }
}