@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto',sans-serif;
  outline: none;
  border: none;
}

body{
  min-height:100vh;
  background:linear-gradient(-50deg,#2c6d52,#8dc1ac);
  font-size: 100%;
}

/* Quiz Page */
/* Outer Container */
.quiz_container {
    background-color: rgb(221, 221, 221);
    border-radius: 40px 40px 0 0;
    height: 100%;
    display: flex;
    justify-content: center;
}
/* Inner Container */
.quiz_start_container {
    background-color: #d7eee4;
    width: 90%;
    height: 75%;
    margin: auto;
    border-radius: 40px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: #449372;
}

.quiz_start_button {
    background-color: #449372 ;
    color: white;
    width: 60%;
    height: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px rgb(117, 117, 117);
}

.quiz_start_button:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 0px rgb(117, 117, 117);
}

.quiz_score_info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 90%;
    margin: auto;
}

.quiz_score_info p {
    border-width: 0 0 1px 0;
    border-style: solid;
}

.quiz_score_info p:nth-child(1) {
    border-width: 0 1px 1px 0;
}

.quiz_score_info p:nth-child(3) {
    border-style: solid;
    border-width: 0 1px 0 0;

}

.quiz_score_info p:nth-child(4) {
    border-width: 0;
}

i.fa-angle-left, i.fa-angle-right {
    font-size: 1.5em;
}

a.prev:hover, a.next:hover {
    background-color: #747474;
}

a.prev {
    position: absolute;
    left: 7%; 
    bottom: 21.6%;  
}

a.next {
    position: absolute;
    right: 7%;
    bottom: 21.6%;
}