.profileSettings {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileSettings div {
    display: flex;
    flex-direction: column;
}

.quizSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categorySettings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box {
    gap: 25px;
}