.profileSettings {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.profileSettings div {
    display: flex;
    flex-direction: column;
}

.quizSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categorySettings {
    display: flex;
    flex-direction: column;
}