.profileSettings {
    /* display: flex; */
    /* width: 100%; */
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
}

.profileSettings div {
    display: flex;
    gap: 10px;
}

.quizSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#categorySettings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
}